$small-range-min: 0;
$small-range-max: 689px;
$medium-range-min: 690px;
$medium-range-max: 1023px;
$large-range-min: 1024px;
$large-range-max: 1599px;
$xlarge-range-min: 1600px;
$xlarge-range-max: 9999999px;
