@use '../../../styles/helpers/variables';
@use '../../../styles/mixins/breakpoint' as *;

#app {
    margin: 0 auto 50px;
    width: variables.$container-width-mobile;

    @include breakpoint(medium up) {
        width: variables.$container-width;
        // max-width: variables.$container-max-width;
    }

    h1 {
        text-align: center;
    }
}
