@import '../components/form';

.page-upload {
    max-width: $container-max-width;
    margin: 0 auto;

    .info-table {
        margin-bottom: 25px;
    }
}

.form-upload {
    margin-bottom: 25px;
}

.status {
    &-files {
        margin-bottom: 15px;

        .file {
            margin-bottom: 15px;

            &-index {
                display: block;
            }
            &-name {
                display: block;
            }
            &-size {
                display: block;
            }

            @include breakpoint(medium up) {
                &-index {
                    display: initial;
                    margin-right: 10px;
                }
                &-name {
                    display: initial;
                    margin-right: 10px;
                }
                &-size {
                    display: initial;
                }
            }
        }
    }
}
