@import '../../styles/main';

.page-upload {
    max-width: $container-max-width;
    margin: 0 auto;

    .info-table {
        margin-bottom: 25px;
    }
}

.form-upload {
    margin-bottom: 25px;
}

.status {
    &-files {
        margin-bottom: 15px;

        .file {
            margin-bottom: 15px;

            & > span[class*=file-] {
                display: block;
            }

            @include breakpoint(medium up) {
                & > span[class*=file-] {
                    display: initial;
                    &:not(:last-child) {
                        margin-right: 10px;
                    }
                }
                & > span.file-progress {
                    display: inline-block;
                    max-width: 100px;
                    width: 100%;
                }
            }
        }
    }
}
