@use '../../../styles/helpers/colours';
@use '../../../styles/mixins/prefers-dark-mode' as *;

.navbar {
    ul {
        display: flex;
        justify-content: center;

        li {
            &:not(:last-child) {
                margin-right: 20px;
            }

            a {
                color: colours.$colour-nav-hyperlink;

                &.active {
                    color: colours.$colour-nav-hyperlink-active;
                }

                @include prefers-dark-mode {
                    color: colours.$colour-nav-hyperlink-dark;

                    &.active {
                        color: colours.$colour-nav-hyperlink-active-dark;
                    }
                }
            }
        }
    }
}
